@model MyPhotoDreamApp.Domain.Entity.Product
@{
    ViewData["Title"] = "Login";
}

<h1>Продукт</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form asp-action="EditProduct" asp-controller="Product" asp-route-Id="@Model.Id">
                <div asp-validation-summary="All"></div>
                <p>
                    <label asp-for="Name"></label>
                    <input asp-for="Name" type="text" value="@Model.Name">
                </p>
                <p>
                    <label asp-for="Price"></label>
                    <input asp-for="Price" type="text" value="@Model.Price">
                </p>
                <p>
                    <label asp-for="Category"></label>
                    <select name="SelectedItem" asp-items="@ViewBag.SelectItems"></select>
                </p>
                <p>
                    <label asp-for="Description"></label>
                    <input asp-for="Description" type="text" placeholder="описание" value="@Model.Description">
                </p>
                <p>
                    <input type="button" onclick="history.back(-2); return false;" value="Назад" />
                    <input type="submit" value="Сохранить" />
                </p>

            </form>
        </div>
    </div>
</div>