@model MyPhotoDreamApp.Domain.ViewModels.Category.CategoriesListViewModel

@{
	
	ViewData["Title"] = "Categories";
}
<h1 class="header-text-top">Категории</h1>

<hr />
<div class="row">
    <div class="col-md-4">
				<table class="iksweb">
					<thead>
						<tr>
							<td>№</td>
							<td>Наименование категории</td>
							<td>Описание</td>
							<td></td>
				</tr>
					</thead>
					<tbody>
						@{int i = 0;}
						@foreach (var item in Model.CategoryList)
						{
							i++;
							<tr>
								<td>@i.ToString()</td>
								<td>
							<a asp-action="GetCategory" asp-controller="CategoryProduct" asp-route-Id="@item.Id">@item.Name</a>
								</td>
								<td>@item.Description</td>
								<td>
									<form method="post" asp-route-Id="@item.Id" asp-action="DellCategories" asp-controller="CategoryProduct">
										<input type="submit" value="Удалить" />
									</form>
								</td>
					</tr>
						}
					</tbody>
				</table>

		<form method="post" asp-action="AddCategory" asp-controller="CategoryProduct">
			<div asp-validation-summary="All"></div>
			<p>
		    	<input asp-for="@Model.NewName" placeholder="название категории">
				<input asp-for="@Model.NewDescription" placeholder="описание категории">
				<input type="submit" value="Создать" />
			</p>
		</form>

    </div>
</div>